body  
	{
	margin:0;
    background-image:url("../ITWSPECPROJECT/img/Website-Design-Background.png");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	}

div#d1
	{
	text-align:center;
	position:relative;
	top:170px;
	width:65%;
	height:1450pt;
	margin:0 auto; 
	background-color:#2B3133;
	background: rgba(52, 57, 59, 0.5);
	font-family: 'Ubuntu', sans-serif;
	font-size: 12pt;
	color:#ecf0f1;
	padding-left:35pt;
	padding-right:30pt;
	padding-top:50pt;
	border-radius: 20px;
	}
	
ul 
	{
	
	position:relative;
	top:60px;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
	font-family: 'Poiret One', cursive;
	}

li 	
	{
	margin: 0 auto;
	position: relative;
    float: left;
	}

li a
	{
	margin: 0 auto;
	width:100pt;
	position:relative;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	}	

li a:hover 
	{
    background-color: #111;
	}
	
	a:focus, a:hover {
		color:white;
		text-decoration: none;
	}
	
	
#hr1	{ 
	position:relative;
	top:60px;
	width:595pt;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
	}
	
#hr2	
	{ 
	position:relative;
	bottom:60px
	width:595pt;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
	}
h2 {
    font-family: 'Montserrat', sans-serif;
    font: 33px sans-serif;
    margin-top: 30px;
    text-align:center;
	font-size: 238%;

    
}

h2 span {
    position:relative;
}
h2 span:before, h2 span:after {
    border-top: 2px solid white;
    content:"";
    position: absolute;
    top: 15px;
    right: 13.8em;
    bottom: 0;
    width: 10%;
}
h2 span:after {
    position: absolute;
    top: 15px;
    left:13.7em;
    right:0;
    bottom: 0;
}
	
.proflogo
	{
	width:130pt;
	height:120pt;
    -webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	border-radius: 50%;
	}
	
	.feutechlogo
	{
	width:200pt;
	height:150pt;
    -webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	border-radius: 20px;
	float:left;
	margin-left:27px;
	}
	
	.iconnectlogo
	{
	width:200pt;
	height:150pt;
    -webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	border-radius: 20px;
	float:left;
	margin-left:27px;
	}
	
	.esport
	{
	margin-right: 15px;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
	width:130pt;
	height:120pt;
	 filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	}
	

	.esport:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
	}
	
	a.pop {

	float:left; /* must be floated for same cross browser position of larger image */
	position:relative;
	margin:3px;
	
}