.modal-body{
    overflow: visible;
}

body  
	{
	margin:0;
    background-image:url("../ITWSPECPROJECT/portfolio/portforliowallpaper1.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	}

div#d1
	{
	text-align:center;
	position:relative;
	top:170px;
	width:65%;
	height:530pt;
	margin:0 auto; 
	background-color:#2B3133;
	background: rgba(52, 57, 59, 0.5);
	font-family: 'Ubuntu', sans-serif;
	font-size: 12pt;
	color:#ecf0f1;
	padding-left:35pt;
	padding-right:30pt;
	padding-top:50pt;
	border-radius: 20px;
	}
	
ul 
	{
	
	position:relative;
	top:60px;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
	font-family: 'Poiret One', cursive;
	}

li 	
	{
	margin: 0 auto;
	position: relative;
    float: left;
	}

li a
	{
	margin: 0 auto;
	width:100pt;
	position:relative;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	}	

li a:hover 
	{
    background-color: #111;
	}

a:focus, a:hover {
		color:white;
		text-decoration: none;
	}
#hr1	{ 
	position:relative;
	top:60px;
	width:595pt;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
	}
	
#hr2	
	{ 
	position:relative;
	bottom:60px
	width:595pt;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
	}
h2 {
    font-family: 'Montserrat', sans-serif;
    font: 33px sans-serif;
    margin-top: 30px;
    text-align:center;
	font-size: 238%;

    
}

h2 span {
    position:relative;
}
h2 span:before, h2 span:after {
    border-top: 2px solid white;
    content:"";
    position: absolute;
    top: 15px;
    right: 12.7em;
    bottom: 0;
    width: 10%;
}
h2 span:after {
    position: absolute;
    top: 15px;
    left:12.6em;
    right:0;
    bottom: 0;
}	


a.pop {

	float:left; /* must be floated for same cross browser position of larger image */
	position:relative;
	margin:3px;
	
}